:root {
    --avatar-image-size: 76px;
    --secondary-bg-color: #F2F2F7;
}

.pageNumber{
    cursor: pointer;
    padding: 3px;
    border: 1px solid black;
}

.selectPage{
    font-weight: bold;
    border: 1px dashed red;
}
